#landing{
  .title{
    font-size: 30px;
  }

  .pokemon{
    border-radius: 5px;
    border: 1px lightslategray solid;
    height: 200px;
    padding: 15px;
    margin-top: 20px;

    .poke-img{
      width: 150px;
      height: 150px;
    }

    .text-container{
      font-size: 14px;
      width: 50%;

      .content{
        height: 30px;
        justify-content: space-between;
        padding-right: 30px;

        *{
          margin: 0;
        }
      }
    }
  }

  .pokemon.odd{
    margin-right: calc(8.3333% * 2);
  }

  .btn-load-more{
    width: 100%;
  }
}