#detail{
  .pokemon-name{
    font-size: 4rem;
  }

  .poke-img{
    width: 250px;
    height: 250px;
  }

  .poke-detail{
    font-size: 20px;

    .text-container{
      p:nth-child(2), ul li{
        color: grey;  
      }
      ul li{
        list-style-type: none;
        margin-bottom: 10px;
      }
    }
  }

  .poke-detail:nth-child(1){
    margin-right: 10%;
  }

  .btn-catch{
    width: 100%;
  }
}